<!DOCTYPE html>
<html>
  <head>
    <title>TODO</title>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  </head>
  <body>
    <%= render 'shared/navbar' %>
    <%= render 'shared/flashes' %>
    <%= yield %>
    <%= javascript_include_tag 'application' %>
    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

  </body>
</html>

<!-- js popover -->
  <script >
    $(document).ready(function(){
    $(".img-popover").popover({
    html: true,
    trigger: "hover",
    placement: "right"
    });
    })
  </script>

  <!-- js flipcard -->

  <script>
    $('.flip').click(function(){
        $(this).find('.card').addClass('flipped').mouseleave(function(){
            $(this).removeClass('flipped');
        });
        return false;
    });
  </script>


<!-- Js last flipcard -->

<script>
  if (!Modernizr.csstransforms3d) {
    $('label').click(function() {
        $('.animate .front').removeClass('front');
        $(this).addClass('front');
    });
}
</script>


<!-- Js Flipcard good -->


